numpy >1, <2
pyprecice==2.5.1.0
scipy
jinja2
pandas

# custom packages developed by Benjamin Rodenberg
#prepesthel==0.1.1rc2
prepesthel @ git+https://github.com/BenjaminRodenberg/precice-performance-study-helpers
brot